---
import { useTranslation, getLocalizedLink } from "../i18n/utils";
import FacebookIcon from "../svg/facebook.svg";
import InstagramIcon from "../svg/instagram.svg";
import WidthContainer from "./WidthContainer.astro";
import MailchimpForm from "../components/MailChimpForm.astro";
import Whatsappicon from "../svg/whatsapp.svg";

const { lang, info } = Astro.props;
const partners = info.fields.partners.length
  ? info.fields.partners
      .trim()
      .split("\n")
      .map((line) => {
        const match = line.match(/(.*?)\[(.*?)\]/); // Regex to capture URL and label
        return match ? { url: match[1], label: match[2] } : null;
      })
      .filter(Boolean)
  : null; // Remove null values if any
const t = useTranslation(lang, "common");
---

<div class="bg-brown text-white py-16 text-sm">
  <WidthContainer>
    <div
      class="flex max-lg:flex-col max-lg:gap-12 min-lg:gap-48 justify-center"
    >
      <div>
        <h2 class="uppercase font-bold text-sm mb-4">{t("Newsletter")}</h2>
        <p class="mb-6 max-w-[300px]">
          {t("Iscriviti per rimanere aggiornato sulle nostre ultime attività")}
        </p>
        <MailchimpForm lang={lang} />
      </div>
      <div>
        <h2 class="uppercase font-bold text-sm mb-4">{t("Partner")}</h2>
        {
          partners && (
            <ul class="flex flex-col gap-2">
              {partners.map((p) => (
                <li>
                  <a href={p.url} target="_blank" class="hover:underline">
                    {p.label}
                  </a>
                </li>
              ))}
            </ul>
          )
        }
      </div>
      <div>
        <h2 class="uppercase font-bold text-sm mb-4">{t("Info & Contatti")}</h2>
        <div class="flex flex-col gap-2">
          <a href={`mailto:${info.fields.email}`} class="underline"
            >{info.fields.email}</a
          >
          <a href={`tel:${info.fields.phone}`} class="underline"
            >{info.fields.phone}</a
          >
          <a href={getLocalizedLink("/privacy", lang)} target="_blank"
            >{t("Privacy policy")}</a
          >
          <a href="https://www.signalkuppe.com" target="_blank"
            >{t("Made by Signalkuppe")}</a
          >
        </div>

        <ul class="flex items-center gap-4 mb-6 mt-4">
          <li>
            <a href={info.fields.facebookLink}
              ><FacebookIcon /><span class="sr-only"
                >{t("Seguici su instagram")}</span
              ></a
            >
          </li>
          <li>
            <a href={info.fields.instagramLink}
              ><InstagramIcon /><span class="sr-only"
                >{t("Seguici su instagram")}</span
              ></a
            >
          </li>
          <li>
            <a href={`https://wa.me/${info.fields.phone}`}
              ><Whatsappicon class="w-8" /><span class="sr-only"
                >{t("Contattaci via Whatsapp")}</span
              ></a
            >
          </li>
        </ul>
        <img
          src="/images/logo-guide-alpine.avif"
          loading="lazy"
          width="50"
          height="50"
          alt=""
          class="mt-4"
        />
      </div>
    </div>
  </WidthContainer>
</div>
