---
import { useTranslation, getLocalizedLink } from "../i18n/utils";
import WidthContainer from "./WidthContainer.astro";
import DesktopHeader from "./DesktopHeader.astro";
import MobileHeader from "./MobileHeader.astro";

const { lang, item, activeMenuLink } = Astro.props;
const t = useTranslation(lang, "common");
const menuLinks = [
  {
    id: "attivita",
    text: t("Attività"),
    url: getLocalizedLink("/attivita", lang),
    active: activeMenuLink === "attivita",
  },
  {
    id: "chi-siamo",
    text: t("Chi siamo"),
    url: getLocalizedLink("/chi-siamo", lang),
    active: activeMenuLink === "chi-siamo",
  },
  {
    id: "blog",
    text: t("Blog"),
    url: getLocalizedLink("/blog", lang),
    active: activeMenuLink === "blog",
  },
  {
    id: "contatti",
    text: t("Contatti"),
    url: getLocalizedLink("/contatti", lang),
    active: activeMenuLink === "contatti",
  },
];
---

<WidthContainer Tag="header" class="mt-8">
  <div class="max-lg:hidden">
    <DesktopHeader lang={lang} item={item} menuLinks={menuLinks} />
  </div>
  <div class="min-lg:hidden">
    <MobileHeader lang={lang} item={item} menuLinks={menuLinks} />
  </div>
</WidthContainer>
