---
import { useTranslation, getLocalizedLink } from "../i18n/utils";
import WidthContainer from "./WidthContainer.astro";
import DesktopHeader from "./DesktopHeader.astro";
import MobileHeader from "./MobileHeader.astro";
import { ACTIVITY_CONTENT_TYPE } from "../constants";

const { lang, item } = Astro.props;
const t = useTranslation(lang, "common");
const menuLinks = [
  {
    text: t("Attività"),
    url: getLocalizedLink("/attivita", lang),
    active:
      Astro.url.pathname === getLocalizedLink("/attivita", lang) ||
      item?.sys?.contentType?.sys?.id === ACTIVITY_CONTENT_TYPE ||
      ["tipo", "type", "categoria", "category"].some((keyword) =>
        Astro.url.pathname.includes(keyword)
      ),
  },
  {
    text: t("Chi siamo"),
    url: getLocalizedLink("/chi-siamo", lang),
  },
  {
    text: t("Blog"),
    url: getLocalizedLink("/blog", lang),
    active:
      Astro.url.pathname.indexOf("post") !== -1 ||
      Astro.url.pathname.indexOf("blog") !== -1,
  },
  {
    text: t("Contatti"),
    url: getLocalizedLink("/blog", lang),
  },
];
---

<WidthContainer Tag="header" class="mt-8">
  <div class="max-lg:hidden">
    <DesktopHeader lang={lang} item={item} menuLinks={menuLinks} />
  </div>
  <div class="min-lg:hidden">
    <MobileHeader lang={lang} item={item} menuLinks={menuLinks} />
  </div>
</WidthContainer>
