---
import { useTranslation } from "../i18n/utils";
import Search from "./Search.astro";
import LogoHomepageLink from "./LogoHomepageLink.astro";
import MobileMenu from "./MobileMenu.astro";

const { menuLinks, lang, item } = Astro.props;
const t = useTranslation(lang, "common");
---

<div class="flex justify-between gap-8 items-center">
  <LogoHomepageLink lang={lang} />
  <div class="flex items-center gap-4">
    <Search lang={lang} />
    <MobileMenu lang={lang} menuLinks={menuLinks} item={item} />
  </div>
</div>
