---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FontsImport from "../components/FontsImport.astro";
import HtmlStyles from "../components/HtmlStyles.astro";
import Cookiebanner from "../components/Cookiebanner.astro";
import { SITE_URL } from "../constants";
const {
  lang,
  info,
  title,
  description,
  ogType,
  ogImage,
  item,
  activeMenuLink,
} = Astro.props;
const isDev = import.meta.env.DEV;
const canonicalUrl = `${SITE_URL}${Astro.url.pathname}`;
---

<html lang={lang} class="scrollbar-stable scroll-smooth h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta name="og:type" content={ogType || "website"} />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:image"
      content={ogImage || "/images/default-og-image.jpg"}
    />
    <meta name="og:image" content={ogImage} />
    <meta name="og:url" content={canonicalUrl} />
    <slot name="head" />
    <title>{title}</title>

    <FontsImport />
    {isDev && <meta name="robots" content="noindex" />}
    <HtmlStyles />
  </head><body class="h-full w-full">
    <Cookiebanner lang={lang} />
    <div class="flex flex-col h-full">
      <Header
        lang={lang}
        item={item}
        info={info}
        activeMenuLink={activeMenuLink}
      />
      <div class="pb-24 flex-1"><slot /></div>
      <Footer lang={lang} info={info} />
    </div>
  </body>
</html>
